.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    align-items: center;
    background: #90CAF9;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    font-size: 30px;
    color: black;
    font-weight: 800;
}

.logo a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: flex;
    }

    .web-menu {
        display: none;
    }

    .logo {
        font-size: 24px;
    }
}

@media only screen and (min-width: 720px) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
    }

}
